.user-profile-change-avatar-modal {
  display: flex;
  justify-content: center;
  position: absolute;
  margin: auto;
  width: 340px;
  height: 257px;
  border-radius: 12px;
  background: var(--white-background);
  box-shadow: var(--modal-border);
}

.user-profile-change-avatar-modal-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.user-profile-change-avatar-modal-form label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: var(--blue-element);
}

.user-profile-change-avatar-modal-form input[type="file"] {
  display: none;
}
