@import url("../../style.css");
@import url("../../modules/ChatConversationBlock/style.css");
@import url("../../modules/ChatMessage/style.css");
@import url("../../modules/ChatInfoPopup/style.css");
@import url("../../modules/ChatAddDeleteUserModal/style.css");

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.left-panel {
  display: flex;
  flex-flow: column nowrap;
  width: 320px;
  border-right-style: solid;
  border-right-color: #eaeaea;
  border-right-width: 1px;
  height: 100%;
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.profile-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: fixed;
  min-width: 320px;
  background: white;
  border-bottom-style: solid;
  border-bottom-color: #eaeaea;
  border-bottom-width: 1px;
}

.conversation-list {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  margin-top: 81px;
  width: 320px;
  height: 100%;
}

.chat-header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  border-bottom-style: solid;
  border-bottom-color: #eaeaea;
  border-bottom-width: 1px;
  background: white;
}

.chat-avatar {
  width: 60px;
}

.chat-name {
  margin-left: 20px;
}

.chat-name span {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1e1e1e;
}

.chat-options {
  width: 25%;
  margin-left: auto;
}

.chat-options-dots:after {
  content: "\2807";
  font-size: 20px;
}

.chat-messages-area {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  overflow-y: scroll;
  height: 100%;
  margin: 70px 20px 70px 20px;
}

.chat-message-form-block {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top-style: solid;
  border-top-color: #eaeaea;
  border-top-width: 1px;
  background: white;
}

.chat-message-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  width: 100%;
  height: 100%;
  min-height: 50px;
}

.chat-message-form-attach {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5%;
  min-width: 50px;
}

.chat-message-form-attach input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.icon-paperclip input {
  display: none;
}

.chat-message-form-message-input {
  height: 60%;
  width: 65%;
  border-radius: 25px;
  border-style: none;
  background: #efefef;
  padding: 0 20px 0 20px;
}

.chat-message-form-send-button {
  height: 100%;
  width: 5%;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-message-form-send-button button {
  display: none;
}

.chat-message-form-send-button svg {
  height: 28px;
  width: 28px;
}
