.participant-message-block {
  display: flex;
  flex-flow: inherit;
  max-width: 50%;
  margin-top: 20px;
  border-style: none;
  border-radius: 15px;
}

.participant-message-block.incoming-message {
  background: #f8f8f8;
}

.participant-message-block.outcoming-message {
  margin-left: auto;
  background: #e4edfd;
}

.participant-message-block .text-message {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  padding: 10px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.participant-message-block .image-message {
  border-radius: 15px;
}