.user-profile-edit-block {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-right: auto;
  width: 100%;
  margin-top: 30px;
  row-gap: 10px;
}

.user-profile-edit-block span {
  width: 100%;
}

.user-profile-edit-block a {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}